body {
  margin: 0;
  font-family: 'sourcecodepro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'sourcecodepro';
  src: local('sourcecodepro'), url(./fonts/SourceCodePro.ttf) format('opentype');
}

@font-face {
  font-family: 'nightforest';
  src: local('nightforest'), url(./fonts/NightForest.otf) format('opentype');
}


@font-face {
  font-family: 'bistern';
  src: local('bistern'), url(./fonts/Bistern.otf) format('opentype');
}

@font-face {
  font-family: 'metalsmith';
  src: local('metalsmith'), url(./fonts/Metalsmith.otf) format('opentype');
}


@font-face {
  font-family: 'patched';
  src: local('patched'), url(./fonts/Patched.otf) format('opentype');
}

@font-face {
  font-family: 'texasmud';
  src: local('texasmud'), url(./fonts/TexasMud.ttf) format('opentype');
}